<ion-header class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button disabled>
                <ion-icon></ion-icon>
            </ion-button>
            <ion-button disabled>
                <ion-icon></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title class="ion-text-center" translate>GENERAL.events</ion-title>

        <ion-buttons slot="end">
            <ion-button routerLink="search">
                <ion-icon name="search-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="openUpsertModal()">
                <!--routerLink="upsert/create">-->
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-calendar [(ngModel)]="dateRange" [options]="optionsRange" (change)="onChange($event)"
        (select)="onSelect($event)" [type]="type" [format]="'YYYY-MM-DD'">
    </ion-calendar>

    <ion-item lines="none" color="primary" class="ion-text-center">
        <div *ngIf="(isLoading$ | async)" class="ion-text-center" style="width: 100%;">
            {{'GENERAL.loading' | translate}} {{'GENERAL.events' | translate}}...
        </div>
        <div *ngIf="(isLoading$ | async) === false" class="ion-text-center" style="width: 100%;">
            {{totalEventsLabel}}
        </div>
    </ion-item>

    <div *ngIf="(isLoading$ | async) else endLoading">
        <div class="ion-padding-horizontal">
            <ion-item *ngFor="let ev of [].constructor(5)" lines="none">
                <div slot="start" style="padding-right: 0; margin-right: 22px;">
                    <ion-skeleton-text animated style="width: 42px; height: 52px;"></ion-skeleton-text>
                </div>
                <ion-label>
                    <h2>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </h2>
                    <p>
                        <ion-text color="primary">
                            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                        </ion-text>
                    </p>
                </ion-label>
                <ion-icon slot="end">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-icon>
            </ion-item>
        </div>
    </div>

    <ng-template #endLoading>
        <div class="ion-padding-horizontal" style="margin-top: 1px;">
            <ion-item-sliding *ngFor="let event of events$ | async" #slidingItem>
                <boxx-event-item [event]="event" [showDetail]="false"
                    [eventDatetimeFrom]="event.datetimeFrom | myDate :'hh:mm a'" routerLink="detail/{{event.id}}">
                    <boxx-calendar-sheet slot="start" dayName="{{event.datetimeFrom | myDate :'ddd'}}"
                        monthDay="{{event.datetimeFrom | myDate :'D'}}"
                        monthName="{{event.datetimeFrom | myDate :'MMM'}}">
                    </boxx-calendar-sheet>

                    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
                </boxx-event-item>

                <ion-item-options side="end">
                    <ion-item-option color="danger" (click)="confirmDelete(event.id, slidingItem)">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-item-option>
                    <ion-item-option (click)="openEditorModal(event.id, slidingItem)">
                        <ion-icon slot="icon-only" name="create"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </div>
    </ng-template>

</ion-content>