:host{
	h1, h2, h3, h4, h5, p{
		color: white
	}
	
    #close-button{
        position: fixed;
        top: 32px;
        right: 16px;
        z-index: 9;
    }
    ion-slides {
        height: 100%;
		ion-slide{
            display: block;
			&#tuto-slide1{
				background-color: var(--ion-color-primary, lightgray);
			}
			&#tuto-slide2{
				background-color: #3d8478;
			}
			&#tuto-slide3{
				background-color: #347470;
			}
			&#tuto-slide4{
				background-color: #296268;
			}
			&#tuto-slide5{
				background-color: #2b5060;
			}

			img#tuto-company-logo{
				padding: 80px;
			}
        }
        
        ion-slide{
            padding-top: 96px;
        }

		ion-slide.swiper-slide {
			color: white;
			
			div.slide-zoom {
				height: 100%;
				padding: 96px;
			}

			p {
                font-size: medium;
				font-weight: 200;
				min-height: 3em;
			}

			&:nth-child(1) { background-position: 0% 0% }
			&:nth-child(2) { background-position: 20% 0% }
			&:nth-child(3) { background-position: 40% 0% }
			&:nth-child(4) { background-position: 60% 0% }
			&:nth-child(5) { background-position: 80% 0% }

			#start-button {
				color: #fff;
				border: 1px solid #fff;
				background-color: transparent;
				box-shadow: none;
				font-weight: 400;
				font-size: 1.1em;
				height: 3em;
				width: 200px;
				text-transform: initial;
			}
		}

		div.swiper-pagination.swiper-pagination-bullets {
			bottom: 30px;
	
			button.swiper-pagination-bullet-active {
				background: #fff;
			}
		}

	}
}