<ion-content>
	<ion-button fill="clear" color="light" id="close-button" (click)="close()">Saltar</ion-button>
	<ion-slides pager>
		<ion-slide id="tuto-slide1">
			<h3>¡Bienvenido!</h3>
			<p>La administración de tu negocio en tus manos.</p>
			<img src="/assets/img/tutorial/illustrationslider1.png">
		</ion-slide>

		<ion-slide id="tuto-slide2">
			<h3>Mide</h3>
			<p>Descubre qué hicieron tus clientes.</p>
			<img src="assets/img/tutorial/illustrationslider2.png">
		</ion-slide>

		<ion-slide id="tuto-slide3">
			<h3>Administra</h3>
			<p>Tus contactos y eventos siempre visibles.</p>
			<img src="assets/img/tutorial/illustrationslider3.png">
		</ion-slide>

		<ion-slide id="tuto-slide4">
			<h3>Comparte</h3>
			<p>Utiliza tu presencia en internet para vender más</p>
			<img src="assets/img/tutorial/illustrationslider4.png">
		</ion-slide>

		<ion-slide id="tuto-slide5">
			<h3>¡Comienza Ahora!</h3>
			<img src="assets/img/app-logo-white-transparent.png" id="tuto-company-logo">
			<p>
				Ahora conoces más sobre las<br>
				funcionalidades y estás listo para usarla.
			</p>
			<ion-button fill="clear" id="start-button" (click)="close()">¡Continuar!</ion-button>
		</ion-slide>		

	</ion-slides>
</ion-content>