<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title class="ion-text-center" translate>WEBSITE.title</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list lines="none" class="ion-no-margin" [formGroup]="websiteUpdateForm">
        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary">
                {{'FORM.LABEL.description' | translate}}
                <!--<ion-text color="danger">*</ion-text>-->
            </ion-label>
            <ion-input formControlName="title" type="text"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validationMessages.title">
            <div class="error-feedback"
                *ngIf="websiteUpdateForm.get('title').hasError(validation.type) && websiteUpdateForm.get('title').invalid && (websiteUpdateForm.get('title').dirty || websiteUpdateForm.get('title').touched)">
                <p>{{validation.message}}</p>
            </div>
        </div>


        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary">
                {{'FORM.LABEL.phone' | translate}}
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input formControlName="phone" type="tel" maxLength="10" minLength="10"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validationMessages.phone">
            <div class="error-feedback"
                *ngIf="websiteUpdateForm.get('phone').hasError(validation.type) && websiteUpdateForm.get('phone').invalid && (websiteUpdateForm.get('phone').dirty || websiteUpdateForm.get('phone').touched)">
                <p>{{validation.message}}</p>
            </div>
        </div>

        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary">
                {{'FORM.LABEL.whatsapp' | translate}}
                <!--<ion-text color="danger">*</ion-text>-->
            </ion-label>
            <ion-input formControlName="mobile" type="tel" maxLength="10" minLength="10"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validationMessages.mobile">
            <div class="error-feedback"
                *ngIf="websiteUpdateForm.get('mobile').hasError(validation.type) && websiteUpdateForm.get('mobile').invalid && (websiteUpdateForm.get('mobile').dirty || websiteUpdateForm.get('mobile').touched)">
                <p>{{validation.message}}</p>
            </div>
        </div>

        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary">{{'FORM.LABEL.email' | translate}}<ion-text color="danger"
                    >*</ion-text>
            </ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validationMessages.email">
            <div class="error-feedback"
                *ngIf="websiteUpdateForm.get('email').hasError(validation.type) && websiteUpdateForm.get('email').invalid && (websiteUpdateForm.get('email').dirty || websiteUpdateForm.get('email').touched)">
                <p>{{validation.message}}</p>
            </div>
        </div>

        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary" translate>FORM.LABEL.facebook</ion-label>
            <ion-input formControlName="facebook_url" type="text"></ion-input>
        </ion-item>

        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary" translate>FORM.LABEL.twitter</ion-label>
            <ion-input formControlName="twitter_url" type="text"></ion-input>
        </ion-item>

        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary" translate>FORM.LABEL.instagram</ion-label>
            <ion-input formControlName="instagram_url" type="text"></ion-input>
        </ion-item>
    </ion-list>

    <div>
        <ion-button color="primary" expand="block" (click)="update()" translate [disabled]="websiteUpdateForm.invalid">
            GENERAL.ACTION.update
        </ion-button>
    </div>
</ion-content>