<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" translate>GENERAL.contacts</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" [disabled]="!hasSelectedContacts()" (click)="importContacts()" translate>
        GENERAL.ACTION.import
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <div [hidden]="!isLoading">
    <ion-item class="ion-no-padding">
      <ion-label>
        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
      </ion-label>
      <ion-thumbnail slot="start" style="width: 20px; height: 20px; margin-right: 30px; margin-left: 4px;">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
    </ion-item>
    <ion-list>
      <ion-item class="ion-no-padding" *ngFor="let item of [].constructor(5)">
        <ion-label>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-label>
        <ion-thumbnail slot="start" style="width: 20px; height: 20px; margin-right: 30px; margin-left: 4px;">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
    </ion-list>
  </div>


  <ion-item class="ion-no-padding" [hidden]="isLoading">
    <ion-label><strong>{{"GENERAL.total" | translate}} {{contactList.length}}
        {{ (contactList.length == 1 ? "GENERAL.contact" : "GENERAL.contacts") | translate}}</strong></ion-label>
    <ion-checkbox mode="ios" slot="start" [(ngModel)]="masterCheck" [indeterminate]="isIndeterminate"
      (click)="checkMaster()"></ion-checkbox>
  </ion-item>

  <ion-list>
    <ion-item class="ion-no-padding" *ngFor="let item of contactList">
      <ion-label>
        <h3>{{item.contact.name}} {{item.contact.lastName}}</h3>
        <p>{{item.contact.phone}}</p>
      </ion-label>
      <ion-checkbox mode="ios" slot="start" [(ngModel)]="item.isChecked" (ionChange)="checkEvent()"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>