<ion-list *ngIf="isLoading else profileForm" class="ion-no-padding ion-padding-horizontal">
    <div class="ion-padding">
        <ion-label color="primary" class="fns-15">Perfil</ion-label>
    </div>
    <ion-item class="boxx-input-item">
        <ion-label position="stacked" color="primary">
            {{'FORM.LABEL.description' | translate}}
        </ion-label>
        <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
    </ion-item>
    <ion-item class="boxx-input-item">
        <ion-label position="stacked" color="primary">
            {{'FORM.LABEL.phone' | translate}}
        </ion-label>
        <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
    </ion-item>
    <ion-item class="boxx-input-item">
        <ion-label position="stacked" color="primary">
            {{'FORM.LABEL.email' | translate}}
        </ion-label>
        <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
    </ion-item>
    <ion-item class="boxx-input-item">
        <ion-label position="stacked" color="primary">
            {{'FORM.LABEL.facebook' | translate}}
        </ion-label>
        <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
    </ion-item>
    <ion-item class="boxx-input-item">
        <ion-label position="stacked" color="primary">
            {{'FORM.LABEL.twitter' | translate}}
        </ion-label>
        <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
    </ion-item>
    <ion-item class="boxx-input-item">
        <ion-label position="stacked" color="primary">
            {{'FORM.LABEL.instagram' | translate}}
        </ion-label>
        <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
    </ion-item>
</ion-list>

<ng-template #profileForm>
    <ion-list [formGroup]="websiteForm" *ngIf="!isLoading" class="ion-no-padding ion-padding-horizontal">
        <div class="ion-padding">
            <ion-label color="primary" class="fns-15">Perfil</ion-label>
        </div>
        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary">
                {{'FORM.LABEL.description' | translate}}
            </ion-label>
            <ion-input formControlName="title" type="text"></ion-input>
        </ion-item>

        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary">
                {{'FORM.LABEL.phone' | translate}}
            </ion-label>
            <ion-input formControlName="phone" type="tel" maxLength="10" minLength="10"></ion-input>
        </ion-item>

        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary">
                {{'FORM.LABEL.whatsapp' | translate}}
            </ion-label>
            <ion-input formControlName="mobile" type="tel" maxLength="10" minLength="10"></ion-input>
        </ion-item>

        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary">
                {{'FORM.LABEL.email' | translate}}
            </ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>

        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary" translate>FORM.LABEL.facebook</ion-label>
            <ion-input formControlName="facebook_url" type="text"></ion-input>
        </ion-item>

        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary" translate>FORM.LABEL.twitter</ion-label>
            <ion-input formControlName="twitter_url" type="text"></ion-input>
        </ion-item>

        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary" translate>FORM.LABEL.instagram</ion-label>
            <ion-input formControlName="instagram_url" type="text"></ion-input>
        </ion-item>
    </ion-list>

    <div class="ion-padding">
        <ion-button color="primary" expand="block" translate (click)="openWebsite()"
            [disabled]="!selectedWebsite.siteUrl" class="ion-margin-bottom">WEBSITE.seeWebsite</ion-button>
        <ion-button color="primary" expand="block" fill="outline" translate (click)="shareWebsite()"
            [disabled]="!selectedWebsite.siteUrl">WEBSITE.shareWebsite
        </ion-button>
    </div>
</ng-template>