<div [formGroup]="productsForm" class="ion-padding-horizontal">
  <div class="ion-padding">
    <ion-label color="primary" class="fns-15">Servicios</ion-label>
  </div>

  <ion-list id="products-list">
    <div *ngFor="let product of p.controls; let i = index">
      <div [formGroup]="product" style="display: flex;">
        <ion-item class="boxx-input-item" style="width: 100%;">
          <ion-input formControlName="description" placeholder="Nombre del producto"></ion-input>
          <ion-icon name="close-circle-outline" color="danger"
            [hidden]="!isEditing || product.get('description').invalid" (click)="removeProduct(i)"></ion-icon>
        </ion-item>
      </div>
    </div>
  </ion-list>

  <div>
    <div class="ion-text-center">
      <ion-button fill="clear"
        [disabled]="p.controls.length > 0 && (!isEditing || p.controls.length >= MAX_PRODUCTS || p.controls[p.controls.length-1].invalid)"
        (click)="addProductField();">
        <ion-icon name="add-circle-outline" color="success"></ion-icon>
      </ion-button>
    </div>

    <div class="ion-padding-horizontal" style="margin-top: 24px;" [hidden]="p.controls.length == 0">
      <ion-button expand="block" [disabled]="!isEditing || !canUpdateProds()" (click)="updateBusiness()" translate>
        GENERAL.ACTION.update
      </ion-button>
    </div>

    <div class="ion-text-center ion-padding-horizontal" style="margin-top: 24px;">
      <small [hidden]="p.controls.length > 0">
        Aún no has agregado ningún servicio. ¡Comienza ahora!
      </small>
      <small>
        Puede agregar hasta {{MAX_PRODUCTS}} servicios, al menos debe conservar 1 servicio
      </small>
    </div>
  </div>
</div>