ion-label.attendee-chip {
    white-space: pre-line !important;
    text-overflow: initial;

    ion-chip {
        margin-left: 0;
        ion-avatar {
            font-size: x-small !important;
            min-width: 24px;
        }
        ion-label {
            white-space: pre-line !important;
        }
    }
}

app-contacts {
    ion-item{
        ion-icon{
            border: 1px solid var(--ion-color-primary, black);
            background: var(--ion-color-primary, black);
            color: var(--ion-color-primary-contrast, white);
        }
    }
}

app-contact-detail {
    .actions-bar{
        ion-icon{
            color: var(--ion-color-secondary, red);
        }
    }
}
