boxx-calendar-sheet {
    ion-card-subtitle {
        border-bottom: none !important;
    }
}

app-events {
    ion-calendar {
        .arrow-dropdown {
            font-size: 1em;
        }

        .month-packer-item{
            button {
                background-color: var(--ion-color-light, gray) !important;
                color: var(--ion-color-dark, black);
            }
        }
    }
    /*app-event-item-row {
    }*/
}