app-login {
    #main-image {
        background: url("/assets/img/app-logo-color-transparent.png") left top no-repeat !important;
        background-size: contain !important;
        background-position: center !important;
    }

    /*#main-header {
    }

    #main-paragraph {
    }*/

    /*#user-input-item  {
    }
    
    #user-password-item {
    }
    
    #do-btn {
    }
    
    #pass-recovery-btn {
    }*/

    #signup-container {
        label {
            font-size: small;
        }
    }
}
