boxx-message-item {
    div[slot="bottom-end-top"] {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
    }

    .message-detail-icon {
        color: lightgray;
    }
    
    .boxx-left-icon{
        color: var(--ion-color-secondary, blue);
    }
    
    .boxx-right-icon{
        color:  var(--ion-color-tertiary, red);
    }
}

/*app-messages {

}*/

/*app-message-detail {
    
}*/
