app-panel {
    /** PANEL OVAL-HEADER **/
    --boxx-header-background: var(--ion-color-primary, white);
    --boxx-header-font-color: var(--ion-color-primary-contrast, black);
    --boxx-header-border-color: var(--ion-color-tertiary, blue);
    /** END OF PANEL OVAL-HEADER **/

    /** PANEL (WEBSITE) KPIs **/
    --boxx-kpi-icon-left-color: var(--ion-color-primary, black);
    --boxx-kpi-label-left-color: var(--ion-color-primary, black);
    --boxx-kpi-counter-left-color: var(--ion-color-primary, black);

    --boxx-kpi-icon-right-color: var(--ion-color-primary, black);
    --boxx-kpi-label-right-color: var(--ion-color-primary, black);
    --boxx-kpi-counter-right-color: var(--ion-color-primary, black);

    --boxx-inboxx-kpi-read-background: white;/*linear-gradient(
        270deg,
        var(--ion-color-secondary, black),
        var(--ion-color-tertiary, white)
    );*/
    --boxx-inboxx-kpi-read-label-color: var(--ion-color-primary, black);
    --boxx-inboxx-kpi-read-counter-color: var(--ion-color-medium2, black);

    --boxx-inboxx-kpi-unread-background: var(--boxx-inboxx-kpi-read-background, none);
    --boxx-inboxx-kpi-unread-label-color: var(--ion-color-primary, black);
    --boxx-inboxx-kpi-unread-counter-color: var(--ion-color-tertiary, black);
    /** END OF PANEL (WEBSITE) KPIs **/

    boxx-main-header {
        #panel-header {
            background-color: var(--boxx-header-background, white) !important;
            color: var(--boxx-header-font-color, black) !important;

            border-left: 6px solid var(--boxx-header-border-color, white) !important;
            border-bottom: 6px solid var(--boxx-header-border-color, white) !important;
            border-right: 6px solid var(--boxx-header-border-color, white) !important;
        }

        boxx-qr-component {
            ion-spinner {
                color: var(--boxx-header-font-color, black);
            }

            ion-icon {
                background: var(--boxx-header-font-color, black);
            }
        }
    }

    boxx-kpi-cell {
        .kpi {
            &.business-kpi {
                &.visits {
                    .kpi-icon {
                        color: var(--boxx-kpi-icon-left-color, blue);
                    }
    
                    .kpi-label {
                        color: var(--boxx-kpi-label-left-color, blue);
                    }
    
                    .kpi-counter {
                        color: var(--boxx-kpi-counter-left-color, blue);
                    }
                }

                &.inboxx {
                    .kpi-icon {
                        color: var(--boxx-kpi-icon-right-color, blue);
                    }
    
                    .kpi-label {
                        color: var(--boxx-kpi-label-right-color, blue);
                    }
    
                    .kpi-counter {
                        color: var(--boxx-kpi-counter-right-color, blue);
                    }
                }
            }


            &.inboxx-kpi {
                width: 47%;
                padding: 18px 10px 10px 10px !important;
                border-radius: 16px !important;
                min-height: min-content !important;


                &.read {
                    background: var(--boxx-inboxx-kpi-read-background, none);

                    .kpi-label {
                        color: var(--boxx-inboxx-kpi-read-label-color, black);
                    }

                    .kpi-counter {
                        color: var(--boxx-inboxx-kpi-read-counter-color, black);
                    }
                }

                &.unread {
                    background: var(--boxx-inboxx-kpi-unread-background, none);

                    .kpi-label {
                        color: var(--boxx-inboxx-kpi-unread-label-color, black);
                    }

                    .kpi-counter {
                        color: var(--boxx-inboxx-kpi-unread-counter-color, black);
                    }
                }
            }
        }
    }

    /*app-contact-item-row {
    }

    app-event-item-row {
    }*/
}

/* for the image width in the popover container*/
.qr-container {
    img {
        width: 300px;
    }
}
