ion-menu {
    --boxx-menu-top-color: var(--ion-color-primary, blue);
    --boxx-menu-bottom-color: var(--ion-color-dark, white);

    #menu-entry-3 {
        display: none;
    }

    ion-toolbar {
        --background: var(--boxx-menu-top-color, #3880ff) !important;
    }

    #logo-img {
        background-image: url("./assets/img/app-logo-white-transparent.svg") !important;
    }

    ion-content {
        --background: linear-gradient(
            0deg,
            var(--boxx-menu-bottom-color, white) 0%,
            var(--boxx-menu-top-color, #3880ff) 100%
        );
    }

    ion-item {
        --border-color: var(--ion-color-dark-contrast, white) !important;
        color: var(--ion-color-dark-contrast, white) !important;
        --color-activated: var(--ion-color-dark-contrast, white) !important;

        ion-icon {
            color: var(--ion-color-dark-contrast, white) !important;
        }        
    }

    ion-icon.min-margin {
        margin-right: 16px;
    }

    ion-footer {
        background: var(--boxx-menu-bottom-color, #3880ff) !important;
    }
}

.item-native{
    color: red !important;
    --color: red !important;
    --color-activated: var(--ion-color-dark-contrast, white) !important;
}