<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/panel" routerDirection="root"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" translate>PROFILE.support</ion-title>
    <ion-buttons slot="end">
      <ion-button><ion-icon></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!--Si tienes alguna duda ponemos a tu dispocición nuestro número telefónico
  <p> Nuestro horario de atención es de:</p>
  <p>
    Lunes a Viernes de 07:00 AM a 22:00 PM<br>
    Sábado de 07:00 AM a 17:00 PM
  </p>

  <ion-item lines="none" class="ion-no-padding">
    <ion-label class="stacked">
      <p>Llama al teléfono</p>
      <p (click)="callForSupport()">
        <ion-text color="primary">{{SUPPORT_PHONE}}</ion-text>
      </p>
    </ion-label>
  </ion-item>-->

  <p class="ion-text-center">Si tienes alguna duda puedes solicitar atención técnica vía correo electrónico</p>
  <div class="ion-padding">
    <ion-button color="primary" expand="block" translate (click)="sendSupportEmail()"
      class="ion-margin-bottom" translate>PROFILE.requestSupport</ion-button>
  </div>
</ion-content>
