:host{
    ion-grid{
        padding: 0;
        ion-row{
            margin-bottom: 4px;
        }

        ion-col{
            padding: 0;
            p{
                color: black;
                font-size: small;
                font-weight: 500;
                margin: 0;
            }
        }
    }

    .question-description{
        text-align: justify;
        background-color: white;
        color: #777;
        padding: 6px 12px;
        font-size: small;
    }
}