<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/panel" routerDirection="root"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" translate>PROFILE.faqs</ion-title>
    <ion-buttons slot="end">
      <ion-button><ion-icon></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list-header>
    <ion-label>Consulta las preguntas más frecentes</ion-label>
  </ion-list-header>

  <ion-list lines="none">
    <div *ngFor="let d of faqs; let i=index" (click)="toggleGroup(i)">
      <ion-item class="ion-text-wrap" [ngClass]="{active: isGroupShown(i)}">
        <ion-grid>
          <ion-row>
            <ion-col>
              <p>{{d.title}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-icon [name]="isGroupShown(i) ? 'chevron-down-outline' : 'chevron-forward-outline'" slot="end"></ion-icon>
      </ion-item>
      <ion-row>
        <ion-col>
          <div class="question-description" *ngIf="isGroupShown(i)" [innerHTML]="d.description"></div>
        </ion-col>
      </ion-row>
    </div>
  </ion-list>

  <p style="font-size: small;">
    Para más información consulta las actualizaciones en la página del Producto: 
    <ion-text color="primary" (click)="openLink('PRODUCT_PAGE_URL')">{{productPageUrl}}</ion-text>
  </p>

  <p style="font-size: small;">
    Consulta nuestro Aviso de privacidad en: 
    <ion-text color="primary" (click)="openLink('PRIVACY_POLICY_URL')">{{privacyPolicy}}</ion-text>
  </p>

</ion-content>