.with-bgcolor{
    background-color: var(--ion-color-light, lightgray);
    height: 150px;
    display: flex;
    align-items: center;

    ion-icon{
      margin: auto;
      font-size: 40px;
    }
    img{
      margin: auto;
      height: 150px;
    }
}

.max100 {
    max-width: 100% !important;
}

ion-fab-button{
  margin: auto;

  &.more-options{
    width: 30px !important;
    height: 30px !important;
    margin-top: 2px;
    margin-right: 8px;
  }
}