<div id="images-form">
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-label color="primary" class="fns-15">Imágenes</ion-label>
        <p class="ion-no-margin fns-08">
          En esta sección podrás agregar las imágenes que quieras a tu sitio web. los formatos son JPG.
          <br>Cada sección te informará el tamaño mínimo requerido
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding ion-padding-top top-border">
        <ion-label color="primary">Logotipo</ion-label>
        <div><small>600 X 300 px</small></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label style="position: absolute; right: 0;" *ngIf="businessImages.businessLogo">
          <ion-fab-button class="more-options" color="light" size="small" (click)="showImageOptions('LOGO')">
            <ion-icon name="ellipsis-vertical-outline" color="primary"></ion-icon>
          </ion-fab-button>
        </ion-label>
        <div class="with-bgcolor">
          <img [src]="getSanitizedUrl(businessImages.businessLogo)" class="max100" *ngIf="businessImages.businessLogo"
            (click)="viewPhotos({urls: businessImages.businessLogo})" />
          <ion-fab-button color="light" size="small" (click)="selectImagesSource('LOGO')"
            *ngIf="!businessImages.businessLogo">
            <ion-icon name="add-outline" color="primary"></ion-icon>
          </ion-fab-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-no-padding ion-padding-top top-border">
        <ion-label color="primary">Imagen principal</ion-label>
        <div><small>1749 X 1849 px</small></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label style="position: absolute; right: 0;" *ngIf="businessImages.businessMainImage">
          <ion-fab-button class="more-options" color="light" size="small" (click)="showImageOptions('MAIN_BANNER')">
            <ion-icon name="ellipsis-vertical-outline" color="primary"></ion-icon>
          </ion-fab-button>
        </ion-label>
        <div class="with-bgcolor">
          <img [src]="getSanitizedUrl(businessImages.businessMainImage)" *ngIf="businessImages.businessMainImage"
            (click)="viewPhotos({urls: businessImages.businessMainImage})" />
          <ion-fab-button color="light" size="small" (click)="selectImagesSource('MAIN_BANNER')"
            *ngIf="!businessImages.businessMainImage">
            <ion-icon name="add-outline" color="primary"></ion-icon>
          </ion-fab-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding ion-padding-top top-border">
        <ion-label color="primary">Imágenes de productos ({{MAX_GALLERY_IMAGES}} máximo)</ion-label>
        <div><small>500 X 500 px</small></div>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let img of [].constructor(MAX_GALLERY_ROWS); let i = index">
      <ion-col class="ion-text-center">
        <ion-label style="position: absolute; right: 0;" *ngIf="businessImages.businessGallery[i*2]">
          <ion-fab-button class="more-options" color="light" size="small" (click)="showImageOptions('GALLERY', i*2)">
            <ion-icon name="ellipsis-vertical-outline" color="primary"></ion-icon>
          </ion-fab-button>
        </ion-label>
        <div class="with-bgcolor">
          <img [src]="getSanitizedUrl(businessImages.businessGallery[i*2])" *ngIf="businessImages.businessGallery[i*2]"
            (click)="viewPhotos({urls: businessImages.businessGallery[i*2], forGallery: true})" />
          <ion-fab-button color="light" size="small" *ngIf="!businessImages.businessGallery[i*2]">
            <ion-icon name="add-outline" color="primary" (click)="selectImagesSource('GALLERY', i*2)"></ion-icon>
          </ion-fab-button>
        </div>
      </ion-col>
      <ion-col *ngIf="(i*2+2) <= MAX_GALLERY_IMAGES" class="ion-text-center">
        <ion-label style="position: absolute; right: 0;" *ngIf="businessImages.businessGallery[i*2+1]">
          <ion-fab-button class="more-options" color="light" size="small" (click)="showImageOptions('GALLERY', i*2+1)">
            <ion-icon name="ellipsis-vertical-outline" color="primary"></ion-icon>
          </ion-fab-button>
        </ion-label>
        <div class="with-bgcolor">
          <img [src]="getSanitizedUrl(businessImages.businessGallery[i*2+1])"
            *ngIf="businessImages.businessGallery[i*2+1]"
            (click)="viewPhotos({urls: businessImages.businessGallery[i*2+1], forGallery: true})" />
          <ion-fab-button color="light" size="small" (click)="selectImagesSource('GALLERY', i*2+1)"
            *ngIf="!businessImages.businessGallery[i*2+1]">
            <ion-icon name="add-outline" color="primary"></ion-icon>
          </ion-fab-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>