:host{
    ion-card{
        margin-left: 0;
        margin-right: 0;
    }

    .username-header{
        font-size: large;
        margin-top: 0px;
    }

    .actions-bar{
        ion-icon{
            font-size: x-large;
            color: var(--ion-color-primary, blue);
        }
        ion-text{
            font-size: smaller;
        }
    }

    .big-avatar{
        width: 48px;
        height: 48px;
        font-size: large;
    }
}