<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/contacts"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" translate>
      CONTACTS.contactDetails
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showOptions()">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="none" class="ion-margin-bottom">
    <ion-avatar slot="start" class="big-avatar">
      <div>{{contact.name[0]}}{{contact.lastName[0]}}</div>
    </ion-avatar>
    <ion-label>
      <h3 class="username-header">{{contact.name}} {{contact.lastName}}</h3>
      <p><ion-text color="primary">{{"GENERAL."+(contact.type.toLowerCase()) | translate}}</ion-text></p>
    </ion-label>
  </ion-item>

  <ion-row class="actions-bar">
    <ion-col class="ion-text-center ion-activatable ripple-parent" (click)="makeCall()">
      <ion-icon name="call-outline"></ion-icon>
      <div>
        <ion-text translate>GENERAL.ACTION.call</ion-text>
      </div>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
    <ion-col class="ion-text-center ion-activatable ripple-parent" (click)="sendMail()">
      <ion-icon name="mail-open-outline"></ion-icon>
      <div>
        <ion-text translate>FORM.LABEL.email</ion-text>
      </div>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
    <ion-col class="ion-text-center ion-activatable ripple-parent" (click)="includeInNewEvent()">
      <ion-icon name="calendar-outline"></ion-icon>
      <div>
        <ion-text translate>GENERAL.event</ion-text>
      </div>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
    <ion-col class="ion-text-center ion-activatable ripple-parent" (click)="sendWhatsapp()" [hidden]="isIos">
      <ion-icon name="logo-whatsapp"></ion-icon>
      <div>
        <ion-text>WhatsApp</ion-text>
      </div>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
  </ion-row>

  <ion-card class="boxx-card ion-padding">
    <ion-card-subtitle translate>CONTACTS.contactData</ion-card-subtitle>
    <ion-item>
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <img src="https://restcountries.eu/data/{{contact.countryCode.toLowerCase()}}.svg" style="width: 28px; margin-right: 8px;">
      <ion-label>{{contact.phone}}</ion-label>
    </ion-item>

    <ion-item *ngIf="contact.email">
      <ion-icon name="mail-open-outline" slot="start"></ion-icon>
      <ion-label>{{contact.email}}</ion-label>
    </ion-item>

    <ion-item lines="none" *ngIf="contact.streetAddress || contact.city">
      <ion-icon name="map-outline" slot="start"></ion-icon>
      <ion-label style="white-space: normal;">{{contact.streetAddress+", "+contact.city}}</ion-label>
    </ion-item>
  </ion-card>

  <ion-card class="boxx-card ion-padding">
    <ion-card-subtitle translate>GENERAL.actions</ion-card-subtitle>

    <div  *ngIf="interactionsError$ | async as error">
      <ion-text color="danger" translate>ERRORS.unknown</ion-text>
    </div>

    <ion-item detail="false" [hidden]="(loadingInteractions$ | async) === false" *ngFor="let i of [].constructor(3)">
      <ion-thumbnail slot="start" style="width: 24px; height: 24px; margin-right: 30px;">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label translate>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <p>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </p>
      </ion-label>
      <ion-icon slot="end">
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      </ion-icon>
    </ion-item>

    <div [hidden]="loadingInteractions$ | async">
      <ion-item detail="false" *ngFor="let interaction of interactions$ | async">
        <ion-icon name="person-circle-outline" slot="start" *ngIf="['CREATE', 'UPDATE_TYPE'].includes(interaction.actionType)"></ion-icon>
        <ion-icon name="mail-open-outline" slot="start" *ngIf="interaction.actionType == 'CONTACT_EMAIL'"></ion-icon>
        <ion-icon name="call-outline" slot="start" *ngIf="interaction.actionType == 'CONTACT_CALL'"></ion-icon>
        <ion-icon name="logo-whatsapp" slot="start" *ngIf="interaction.actionType == 'CONTACT_WHATSAPP'"></ion-icon>
        <ion-icon name="calendar-outline" slot="start" *ngIf="interaction.actionType == 'CONTACT_SCHEDULED'"></ion-icon>
        <ion-label translate>
          {{"GENERAL."+interaction.entity}}
          <p>
            <ion-text color="primary">{{interaction.createdAt | myDate : 'D MMM Y, h:mm a'}}</ion-text>
          </p>
          <p style="white-space: normal">
            <ion-text translate>{{'CONTACTS.INTERACTIONS.' + interaction.actionType}}</ion-text>
          </p>
        </ion-label>
        <!--<ion-icon name="chevron-forward-outline" slot="end"></ion-icon>-->
      </ion-item>
    </div>
  </ion-card>
</ion-content>