<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/events"></ion-back-button>
    </ion-buttons>

    <ion-searchbar #eventsSB
    showCancelButton="never"
      cancelButtonIcon="close-circle-outline" 
      (ionChange)="search($event.detail.value)"
      placeholder='{{"EVENTS.searchPlaceholder" | translate}}'></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of searchResults | keyvalue; index as i;" class="ion-padding-horizontal">
    <h3 class="ion-padding-horizontal" *ngIf="i == 0">
      <ion-text color="primary">
        {{item.value.monthName}} ({{item.value.total}})
      </ion-text>
    </h3>
    <ion-item color="primary" *ngIf="i != 0">
      <h3>
        {{item.value.monthName}} ({{item.value.total}})
      </h3>
    </ion-item>

    <ion-item *ngFor="let event of item.value.events" routerLink="../detail/{{event.id}}">
      <ion-label>
        <h2>
          {{event.title}}
        </h2>
        <p>
          {{"GENERAL.from" | translate}}: {{event.datetimeFrom | myDate : 'D MMM Y, h:mm a' }}
        </p>
        <p>
          {{"GENERAL.to" | translate}}: {{event.datetimeTo | myDate : 'D MMM Y, h:mm a' }}
        </p>
      </ion-label>
    </ion-item>
  </div>
</ion-content>