:host{
    ion-tab-button{
        --padding-end: 4px;
        --padding-start: 4px;
        color: var(--ion-color-medium2, gray);
        
        &.tab-selected{
            color: var(--ion-color-primary, red);
        }
    }
}
