<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="panel">
      <ion-icon color="primary" name="home-outline"></ion-icon>
      <ion-label class="tab-label" translate>GENERAL.home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon color="primary" name="chatbox-outline"></ion-icon>
      <ion-badge color="tertiary" *ngIf="numUnreadMessages">{{ numUnreadMessages > 99 ? '+99' : numUnreadMessages }}</ion-badge>
      <ion-label class="tab-label" translate>GENERAL.messages</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="events">
      <ion-icon color="primary" name="calendar-outline"></ion-icon>
      <ion-label class="tab-label" translate>GENERAL.events</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacts">
      <ion-icon color="primary" name="person-outline"></ion-icon>
      <ion-label class="tab-label" translate>GENERAL.contacts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="website">
      <ion-icon color="primary" name="globe-outline"></ion-icon>
      <ion-label class="tab-label" translate>WEBSITE.title</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
