:host {
    .even-row {
        background: white;
    }

    ion-datetime {
        font-size: smaller;
        border: 1px solid lightgray;
        border-radius: 8px;
        padding: 5px 10px;
    }

    ion-checkbox.checkbox-disabled {
        opacity: 1;

        &.checkbox-checked {
            opacity: .3;
        }
    }

    .datetime-disabled {
        opacity: 1;
        color: var(--ion-color-medium2, grey);
    }

    #schedule-form {
        height: calc(100% - 49px);
    }

    #schedule-24hrs-content {
        display: flex;
    }

    #schedule-no-hours-content {
        display: flex;
    }

    #x-sign {
        font-size: 40px;
        text-align: center;
        margin: auto;
        text-transform: uppercase;
    }
}
