<ion-content>
    <div [formGroup]="scheduleForm" id="schedule-form" class="ion-padding-horizontal">
        <div class="ion-padding">
            <ion-label color="primary" class="fns-15">Horario</ion-label>
        </div>

        <ion-list>
            <ion-item class="boxx-input-item">
                <ion-label position="stacked" color="primary" translate>Seleccionar</ion-label>
                <ion-select formControlName="type" placeholder="{{'GENERAL.ACTION.select' | translate}}"
                    [okText]="'GENERAL.ACTION.ok' | translate" [cancelText]="'GENERAL.ACTION.cancel' | translate"
                    interface="popover" (ionChange)="onScheduleTypeChanged($event.detail.value)" mode="md">
                    <ion-select-option value="HOURS">Especificar el horario</ion-select-option>
                    <ion-select-option value="24_HOURS">Abierto 24 horas</ion-select-option>
                    <ion-select-option value="NO_HOURS">Prefiero no especificar</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>

        <div *ngIf="scheduleType == '24_HOURS'" id="schedule-24hrs-content" [ngClass]="isEditing ? 'editing': 'locked'">
            <div id="x-sign">
                <div>
                    <ion-icon name="timer-outline" color="primary" style="font-size: 100px;"></ion-icon>
                </div>
                Abierto<br> 24<br> Hrs
            </div>
        </div>

        <div *ngIf="scheduleType == 'NO_HOURS'" id="schedule-no-hours-content"
            [ngClass]="isEditing ? 'editing': 'locked'">
            <div style="margin: auto; text-align: center;">
                <div class="ion-padding">No especificado</div>
                <ion-icon name="eye-off-outline" color="primary" style="font-size: 100px;"></ion-icon>
            </div>
        </div>

        <ion-grid [hidden]="scheduleType != 'HOURS'" class="ion-padding">
            <ion-row style="border-bottom: 1px solid lightgray;margin-bottom: 8px; padding-bottom: 8px;">
                <ion-col class="ion-no-padding" size="3">Día</ion-col>
                <ion-col class="ion-no-padding" style="display: flex; justify-content: space-evenly;">
                    <div>Desde</div>-
                    <div>Hasta</div>
                </ion-col>
                <ion-col class="ion-no-padding" size="3" style="text-align: right;">Cerrado</ion-col>
            </ion-row>
            <ion-row *ngFor="let day of d.controls; let i = index" [ngClass]="i%2==0 ? 'even-row' : 'odd-row'">
                <ion-col [formGroup]="day">
                    <ion-row style="align-items: baseline;">
                        <ion-col class="ion-no-padding" size="3">{{days[i]}}</ion-col>
                        <ion-col class="ion-no-padding"
                            style="display: flex; align-items: baseline; justify-content: space-evenly;">

                            <ion-datetime cancelText="{{'GENERAL.ACTION.cancel' | translate}}" doneText="Ok"
                                formControlName="from{{i}}" (ionChange)="onHoursChanged(i, day.value)"
                                displayFormat="HH:mm" placeholder="00:00"></ion-datetime>
                            -
                            <ion-datetime cancelText="{{'GENERAL.ACTION.cancel' | translate}}" doneText="Ok"
                                formControlName="to{{i}}" (ionChange)="onHoursChanged(i, day.value)"
                                displayFormat="HH:mm" placeholder="00:00"></ion-datetime>
                        </ion-col>
                        <ion-col class="ion-no-padding" size="3" style="text-align: center;">
                            <ion-checkbox mode="ios" style="margin-top: 6px; margin-bottom: -6px;"
                                (click)="toggleClosedOn(i)" formControlName="closed{{i}}"></ion-checkbox>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="i==0 && isEditing" class="row-even ion-padding-vertical">
                        <ion-col style="padding: 0;">
                            <ion-text color="primary" (click)="applyToAll()"
                                style="display: flex; align-items: center;">
                                <small>Aplicar este horario a los demás días</small>
                                <ion-icon name="caret-forward-sharp" color="primary"></ion-icon>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div class="ion-padding-horizontal" [hidden]="!isEditing" style="margin-top: 24px;">
            <ion-button expand="block" (click)="updateBusiness()" translate>
                GENERAL.ACTION.update
            </ion-button>
        </div>
    </div>
</ion-content>