<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/panel" routerDirection="root"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" translate="">PROFILE.TandC</ion-title>
    <ion-buttons slot="end">
      <ion-button><ion-icon></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    Lorem ipsum dolor sit amet consectetur adipiscing elit habitasse dui at, eget interdum nulla aptent feugiat suscipit ullamcorper tincidunt phasellus, rhoncus lacus nostra sapien litora quam cras nec sociosqu. Ridiculus porttitor lacinia est etiam rhoncus nam potenti, sed mi diam vel eleifend. Scelerisque arcu semper duis augue nisl consequat placerat montes penatibus quisque, condimentum netus eu purus sapien ac ligula imperdiet rutrum, felis nunc pellentesque inceptos mollis euismod pretium etiam tempus.
  </p>

  <p>
    Erat ullamcorper primis praesent porttitor vehicula facilisi nulla auctor, at enim volutpat id nisi integer interdum, eget congue augue posuere viverra suscipit sem. Enim mi condimentum quisque malesuada diam augue, netus mollis viverra feugiat himenaeos. Hac pellentesque lobortis a turpis primis etiam dictum sagittis, quam magna aliquam blandit facilisis tellus mi auctor, vel elementum nisi integer ut magnis sociosqu.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipiscing elit habitasse dui at, eget interdum nulla aptent feugiat suscipit ullamcorper tincidunt phasellus, rhoncus lacus nostra sapien litora quam cras nec sociosqu. Ridiculus porttitor lacinia est etiam rhoncus nam potenti, sed mi diam vel eleifend. Scelerisque arcu semper duis augue nisl consequat placerat montes penatibus quisque, condimentum netus eu purus sapien ac ligula imperdiet rutrum, felis nunc pellentesque inceptos mollis euismod pretium etiam tempus.
  </p>

  <p>
    Erat ullamcorper primis praesent porttitor vehicula facilisi nulla auctor, at enim volutpat id nisi integer interdum, eget congue augue posuere viverra suscipit sem. Enim mi condimentum quisque malesuada diam augue, netus mollis viverra feugiat himenaeos. Hac pellentesque lobortis a turpis primis etiam dictum sagittis, quam magna aliquam blandit facilisis tellus mi auctor, vel elementum nisi integer ut magnis sociosqu.
  </p>
  
</ion-content>
