:host{
    #contact-list{
        ion-item{
            ion-icon{
                border: 1px solid var(--ion-color-primary, black);
                font-size: initial;
                padding: 8px;
                border-radius: 50%;
            }
        }
    }

    #no-contacts-list{
        height: calc(100% - 60px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .skeleton {
        ion-avatar{
            border: 1px solid lightgray;
        }
    }
}