<ion-header [hidden]="showSearchBar">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button disabled>
                <ion-icon></ion-icon>
            </ion-button>
            <ion-button disabled>
                <ion-icon></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title class="ion-text-center" translate>GENERAL.contacts</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="toggleSearch()">
                <ion-icon name="search"></ion-icon>
            </ion-button>
            <ion-button (click)="showAddContactOpts()">
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-header [hidden]="!showSearchBar">
    <ion-toolbar color="primary">

        <ion-searchbar #contactsSB showCancelButton="always" cancelButtonIcon="close-circle-outline"
            cancelButtonText="{{'GENERAL.ACTION.cancel' | translate}}" (ionCancel)="onCancelSearch()"
            (ionChange)="search($event.detail.value)" [value]="searchValue"
            placeholder="{{'CONTACTS.searchPlaceholder'| translate}}"></ion-searchbar>


    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-item-divider color="light" sticky>
        <ion-segment [(ngModel)]="filterType" (ionChange)="filterBy($event.detail.value)" mode="md">
            <ion-segment-button value="ALL">
                <ion-label translate>GENERAL.all</ion-label>
            </ion-segment-button>
            <ion-segment-button value="NOT_SPECIFIED">
                <ion-label translate>GENERAL.not_specified</ion-label>
            </ion-segment-button>
            <ion-segment-button value="PROSPECT">
                <ion-label translate>GENERAL.prospect</ion-label>
            </ion-segment-button>
            <ion-segment-button value="CLIENT">
                <ion-label translate>GENERAL.client</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-item-divider>

    <ion-list *ngIf="(isLoading$ | async) else contactList" class="ion-padding-horizontal skeleton">
        <ion-item *ngFor="let i of [].constructor(10)">
            <ion-avatar slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>

            <ion-label>
                <h3>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </h3>
                <p>
                    <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                </p>
            </ion-label>
            <ion-avatar slot="end" size="small">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-avatar slot="end" size="small" [hidden]="isIos">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
        </ion-item>
    </ion-list>

    <ng-template #contactList>
        <ion-list id="contact-list" class="ion-padding-horizontal" *ngIf="searchResults.length else noContactsFound">
            <ion-item-sliding *ngFor="let contact of searchResults" #slidingItem>
                <ion-item class="contact-item" detail="false">
                    <ion-avatar slot="start" routerLink="detail/{{contact.id}}">
                        <div>{{contact.name[0]}}{{contact.lastName[0]}}</div>
                    </ion-avatar>

                    <ion-label routerLink="detail/{{contact.id}}">
                        <h4>{{contact.name}} {{contact.lastName}}</h4>
                        <p>{{contact.phone}}</p>
                        <p>
                            <ion-text color="primary">{{contactTypes[contact.type]}}</ion-text>
                        </p>
                    </ion-label>
                    <ion-icon name="call-outline" slot="end" (click)="makeCall(contact.phone)"></ion-icon>
                    <ion-icon name="logo-whatsapp" slot="end" (click)="sendWhatsapp(contact)" [hidden]="isIos">
                    </ion-icon>
                </ion-item>

                <!--<ion-item-options side="start">
                    <ion-item-option>
                        <ion-icon slot="icon-only" name="heart"></ion-icon>
                    </ion-item-option>
                </ion-item-options>-->

                <ion-item-options side="end">
                    <ion-item-option color="danger" (click)="confirmDelete(contact.id, slidingItem)">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-item-option>
                    <ion-item-option (click)="openEditorModal(contact, slidingItem)">
                        <ion-icon slot="icon-only" name="create"></ion-icon>
                    </ion-item-option>
                </ion-item-options>

            </ion-item-sliding>
        </ion-list>
    </ng-template>

    <ng-template #noContactsFound>
        <ion-list id="no-contacts-list">
            <div class="ion-text-center">
                <ion-icon name="person-outline" color="medium2" style="font-size: 100px;"></ion-icon>
                <div>
                    <ion-label color="primary">No se encontraron Contactos</ion-label>
                </div>
            </div>
        </ion-list>
    </ng-template>

</ion-content>