<ion-header class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button disabled>
                <ion-icon size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">
            <div style="white-space: normal;">
                {{"PANEL.greeting" | translate }}{{panelData.userName ? ', '+panelData.userName : ''}}
            </div>
        </ion-title>

        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <boxx-main-header>
        <ion-label>
            <strong translate>PANEL.dataUpToDate</strong>: {{panelData.upToDate | myDate :"MMM D Y, h:mm a"}}
        </ion-label>

        <boxx-qr-component [isLoading$]="isLoadingWebsiteData$" [websiteUrl]="websiteUrl">
        </boxx-qr-component>
    </boxx-main-header>

    <!-- BUSINESS KPIS -->
    <div class="ion-padding business-kpi-container">
        <boxx-kpi-cell label="{{'GENERAL.visits' | translate}}"
            [value]="(panel$ | async).websiteData.pageViews | zeroPadding" iconSrc="../assets/icon/visits.svg"
            className="business-kpi visits">
        </boxx-kpi-cell>
        <boxx-kpi-cell label="{{'GENERAL.messages' | translate}}"
            [value]="(panel$ | async).messagesData.stats.total | zeroPadding" iconSrc="../assets/icon/messages.svg"
            className="business-kpi inboxx" (click)="goToMessages('all')">
        </boxx-kpi-cell>
    </div>

    <!-- INBOXX -->
    <boxx-panel-widget title="Inboxx">
        <div class="inboxx-kpi-container ion-margin-bottom">
            <boxx-kpi-cell label="{{'PANEL.unread' | translate}}"
                [value]="(panel$ | async).messagesData.stats.unread | zeroPadding" className="inboxx-kpi unread"
                (click)="goToMessages('new')">
            </boxx-kpi-cell>

            <boxx-kpi-cell label="{{'PANEL.read' | translate}}"
                [value]="(panel$ | async).messagesData.stats.read | zeroPadding" className="inboxx-kpi read"
                (click)="goToMessages('read')">
            </boxx-kpi-cell>
        </div>
    </boxx-panel-widget>

    <!-- LAST MESSAGES -->
    <boxx-panel-widget title="{{'PANEL.lastXMessages' | translate: '{x: 3}'}}">
        <div class="forwardLink" forwardLink (click)="goToMessages('all')" *ngIf="(messages$ | async).totals.total > 0">
            {{'PANEL.seeAll' | translate}}
            <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>

        <div *ngIf="(messages$ | async).totals.total > 0 else noMessagesList">
            <ion-card class="boxx-card" *ngFor="let message of (messages$ | async).messages.slice(0,3)">
                <boxx-message-item routerLink="../../messages/detail/{{message.id}}" routerDirection="root">

                    <div slot="top-left">
                        <ion-icon name="logo-google"></ion-icon>
                    </div>
                    <div slot="top-center">
                        <strong>Email Sitio Web</strong>
                    </div>
                    <div slot="top-right">
                        {{message.timestamp | myDate :'D MMM Y, h:mm a'}}
                    </div>

                    <ion-label slot="bottom-start">
                        <p>
                            <strong>{{message.name}}</strong>
                        </p>
                        <p>{{message.email}}</p>
                    </ion-label>

                    <div slot="bottom-end-top">
                        <ion-icon class="boxx-left-icon" name="bookmark"></ion-icon>
                        <ion-icon class="boxx-right-icon" name="chatbubble"></ion-icon>
                    </div>

                    <div slot="bottom-end-bottom">
                        <ion-icon name="call"></ion-icon>
                        {{message.phone}}
                    </div>

                </boxx-message-item>
            </ion-card>
        </div>

        <ng-template #noMessagesList>
            <ion-card class="boxx-card ion-padding">
                <p class="ion-text-center" translate>
                    <ion-icon src="../assets/icon/messages.svg" color="primary"></ion-icon>
                    Aún no tienes Mensajes
                </p>
                <p class="ion-text-center">
                    <ion-note class="note-link" (click)="goToMessages('all')" style="justify-content: center;">
                        <ion-text color="primary" translate>
                            Aquí mostraremos los últimos mensajes que recibas
                        </ion-text>
                    </ion-note>
                </p>
            </ion-card>
        </ng-template>
    </boxx-panel-widget>

    <!-- CONTACTS -->
    <boxx-panel-widget title="{{'GENERAL.contacts' | translate}}">

        <div class="forwardLink" forwardLink (click)="goToContacts()" *ngIf="lastContacts.length > 0">
            {{'PANEL.seeAll' | translate}}
            <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>

        <ion-card class="boxx-card ion-padding">

            <!-- CONTACTS CHART -->
            <ion-card-subtitle>{{'PANEL.classification' | translate}}</ion-card-subtitle>
            <boxx-contact-chart-widget [labels]="{
                contacts: 'GENERAL.contacts' | translate,
                not_specified: 'GENERAL.not_specified' | translate,
                prospect: 'GENERAL.prospect' | translate,
                client: 'GENERAL.client' | translate}" [stats]="contactsData.stats">
                <canvas #contactChart></canvas>
            </boxx-contact-chart-widget>

            <!-- LAST CONTACTS -->
            <ion-card-subtitle>{{'PANEL.lastXContacts' | translate: '{x: 3}'}}</ion-card-subtitle>
            <div *ngIf="lastContacts.length > 0 else noContactsList">
                <boxx-contact-item *ngFor="let contact of lastContacts" [contact]="contact" [showDetail]="false"
                    routerLink="../../contacts/detail/{{contact.id}}" routerDirection="root">

                    <ion-icon name="ellipsis-horizontal-outline" slot="end"></ion-icon>
                </boxx-contact-item>
            </div>

            <ng-template #noContactsList>
                <div>
                    <p class="ion-text-center" translate>
                        <ion-icon name="person-outline" color="primary"></ion-icon>
                        Aún no has agregado Contactos
                    </p>
                    <p>
                        <ion-note class="note-link" routerLink="../../contacts" routerDirection="forward"
                            style="justify-content: center;">
                            <ion-text color="primary" translate>
                                Crea o importa contactos desde tu agenda
                            </ion-text>
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </ion-note>
                    </p>
                </div>
            </ng-template>

        </ion-card>
    </boxx-panel-widget>

    <!-- NEXT EVENTS -->
    <boxx-panel-widget title="{{'GENERAL.events' | translate}}">

        <div class="forwardLink" forwardLink (click)="goToMessages('all')"
            *ngIf="(panel$ | async).eventsData.upcomingEvents.length > 0">
            {{'PANEL.seeAll' | translate}}
            <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>

        <ion-card class="boxx-card ion-padding">
            <ion-card-subtitle>{{'PANEL.nextXEvents' | translate: '{x: 3}'}}</ion-card-subtitle>
            <div *ngIf="(panel$ | async).eventsData.upcomingEvents.length > 0 else noEventsList">
                <boxx-event-item *ngFor="let event of (panel$ | async).eventsData.upcomingEvents.slice(0,3)"
                    [event]="event" [showDetail]="false" [eventDatetimeFrom]="event.datetimeFrom | myDate :'hh:mm a'"
                    (click)="goToEvent(event.id)">
                    <boxx-calendar-sheet slot="start" dayName="{{event.datetimeFrom | myDate :'ddd'}}"
                        monthDay="{{event.datetimeFrom | myDate :'D'}}"
                        monthName="{{event.datetimeFrom | myDate :'MMM'}}">
                    </boxx-calendar-sheet>

                    <ion-icon name="ellipsis-horizontal-outline" slot="end"></ion-icon>
                </boxx-event-item>
            </div>

            <ng-template #noEventsList>
                <div>
                    <p class="ion-text-center" translate>
                        <ion-icon name="calendar-outline" color="primary"></ion-icon>
                        Aún no tienes Eventos
                    </p>
                    <p>
                        <ion-note class="note-link" routerLink="../../events" routerDirection="root"
                            style="justify-content: center;">
                            <ion-text color="primary" translate>
                                Crea un nuevo Evento
                            </ion-text>
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </ion-note>
                    </p>
                </div>
            </ng-template>
        </ion-card>
    </boxx-panel-widget>

</ion-content>