:host {

    ion-title {
        font-size: 16px;
        padding: 0;
    }

    .business-kpi-container {
        margin-top: -100px;
        position: relative;
        display: flex;
        justify-content: space-evenly;
    }

    .inboxx-kpi-container {
        display: flex;
        justify-content: space-between;
        margin-left: var(--margin-start, 16px);
        margin-right: var(--margin-end, 16px);
    }
    
    ion-note {
        font-size: small;

        &.note-link {
            align-items: center;
            display: flex;
        }
    }

    div.forwardLink{
        align-items: center;
        display: flex;
        font-size: small;
        color: var(--ion-color-primary, blue);
    }
}

