@font-face {
    font-family: 'Monda';
    src: url('./assets/fonts/Monda-Regular.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Monda';
    src: url('./assets/fonts/Monda-Bold.ttf');
    font-weight: 600;
    font-style: normal;
}


