// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
    --boxx-app-background: var(--ion-color-light, #f4f4f4);

    --boxx-avatar-border-color: var(--ion-color-primary, white);
    --boxx-avatar-background-color: var(--ion-color-primary, white);
    --boxx-avatar-color: var(--ion-color-primary-contrast, black);

    /** primary **/
    --ion-color-primary: #293a4f;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;

    /** secondary **/
    --ion-color-secondary: #00b5e2;
    --ion-color-secondary-rgb: 61, 194, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #36abe0;
    --ion-color-secondary-tint: #50c8ff;

    /** tertiary **/
    --ion-color-tertiary: #dd550c;
    --ion-color-tertiary-rgb: 82, 96, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;

    /** success **/
    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;

    /** warning **/
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    /** danger **/
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;

    /** dark **/
    --ion-color-dark: #0C2340;
    --ion-color-dark-rgb: 34, 36, 40;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;

    /** medium1 **/
    --ion-color-medium1: #575756;
    --ion-color-medium1-rgb: 146, 148, 156;
    --ion-color-medium1-contrast: #ffffff;
    --ion-color-medium1-contrast-rgb: 255, 255, 255;
    --ion-color-medium1-shade: #808289;
    --ion-color-medium1-tint: #9d9fa6;

    /** medium **/
    --ion-color-medium2: #9d9d9c;
    --ion-color-medium2-rgb: 146, 148, 156;
    --ion-color-medium2-contrast: #ffffff;
    --ion-color-medium2-contrast-rgb: 255, 255, 255;
    --ion-color-medium2-shade: #808289;
    --ion-color-medium2-tint: #9d9fa6;

    /** light **/
    --ion-color-light: #F4F4F4;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
}

:root,
:root[mode="ios"],
:root[mode="md"] {
    --ion-font-family: "Monda", sans-serif;
    font-family: "Monda", sans-serif;
}