<ion-header class="ion-no-border">
    <ion-toolbar fill="clear">
        <ion-buttons slot="start">
            <ion-button (click)="close()" color="primary">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end" *ngIf="showUploadBtn">
            <ion-button (click)="ok()" color="primary" [disabled]="!imageList.length" *ngIf="okIconName || okIconSrc">
                <ion-icon name="{{okIconName}}" src="{{okIconSrc}}"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
    <ion-fab horizontal="end">
        <ion-fab-button (click)="pickImages(imageList.length > 0)" size="small" *ngIf="showUploadBtn">
            <ion-icon name="add" *ngIf="imageList.length == 0"></ion-icon>
            <ion-icon src="assets/icon/edit.svg" *ngIf="imageList.length > 0"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-slides pager [options]="sliderOpts">
        <ion-slide *ngFor="let src of imageList | keyvalue; let i = index">
            <div class="swiper-zoom-container">
                <div *ngFor="let description of imagesErrors[i]" style="position: absolute; top: 0;">
                    <ion-text color="danger">{{description}}</ion-text>
                </div>
                <img [src]="getSanitizedUrl(src.value.uri)">
            </div>
        </ion-slide>
        <ion-slide [hidden]="imageList.length">
            <ion-icon name="images-outline" style="font-size: 100px;" color="primary"></ion-icon>
        </ion-slide>
    </ion-slides>
</ion-content>