:host {
    ion-content {
        text-align: center;
    }

    #main-image {
        width: 60%;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        /* DEFAULT IMAGE */
        background: url("/assets/default-img/business-logo.png") left top no-repeat;
        background-size: contain;
        background-position: center;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    #main-header {
        text-align: center;
    }

    #main-paragraph {
        font-size: small;
        text-align: center;
    }

    #input-list {
        .error-feedback {
            text-align: left;
        }
    }

    #buttons-list {
        margin-top: var(--ion-padding, 16px);
    
    /*#do-btn {
        
    }*/

        #pass-recovery-btn {
            margin-top: 32px
        }

        #signup-container {
            margin-top: var(--ion-margin, 16px);
            padding-top: var(--ion-padding, 16px);

            label {
                font-size: small;
            }
        }
    }
}
