<ion-content class="ion-padding">
    <div id="main-image"></div>

    <h4 id="main-header">
        <ion-text color="primary" translate size="large">GENERAL.welcome</ion-text>
    </h4>
    <p id="main-paragraph" translate size="small">LOGIN.mainParagraph</p>

    <div [formGroup]="loginForm">
        <ion-list id="input-list">
            <ion-item class="boxx-input-item" id="user-input-item">
                <ion-label position="floating" translate>
                    FORM.LABEL.user
                </ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
            <div *ngFor="let validation of validationMessages.email">
                <div class="error-feedback"
                    *ngIf="loginForm.get('email').hasError(validation.type) && loginForm.get('email').invalid && loginForm.get('email').touched">
                    <p>{{validation.message}}</p>
                </div>
            </div>

            <ion-item class="boxx-input-item" id="user-password-item">
                <ion-label position="floating" translate>
                    FORM.LABEL.password
                </ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <div *ngFor="let validation of validationMessages.password">
                <div class="error-feedback"
                    *ngIf="loginForm.get('password').hasError(validation.type) && loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                    <p>{{validation.message}}</p>
                </div>
            </div>
        </ion-list>

        <ion-list id="buttons-list">
            <ion-button id="do-login-btn" expand="block" size="default" (click)="login()"
                [disabled]="loginForm.invalid" translate>
                FORM.LABEL.doLogin
            </ion-button>

            <ion-button id="pass-recovery-btn" expand="block" fill="outline" size="default"
                (click)="passRecovery()" translate>
                FORM.LABEL.passwordRecovery
            </ion-button>

            <div id="signup-container">
                <label id="signup-label">¿Aún no estás registrado?</label>
                <ion-button id="signup-button" expand="block" size="default" (click)="openWizard()"
                    class="ion-margin-vertical" translate>
                    FORM.LABEL.signUp
                </ion-button>
            </div>
        </ion-list>
    </div>
</ion-content>