<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/events"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-center" translate>GENERAL.event</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="showEventOptions()">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding-horizontal">
    <div class="ion-padding">
      <ion-label class="fns-15" color="primary">{{myEvent.title}}</ion-label>
    </div>

    <ion-item class="boxx-input-item">
      <ion-label>
        <h2>
          <ion-text color="primary" translate>GENERAL.date</ion-text>
        </h2>
        <p>
          {{"GENERAL.from" | translate}}:
          {{myEvent.datetimeFrom | myDate : 'D MMM Y, h:mm a' }}
        </p>
        <p *ngIf="myEvent.datetimeTo">
          {{"GENERAL.to" | translate}}:
          {{myEvent.datetimeTo | myDate : 'D MMM Y, h:mm a' }}
        </p>
      </ion-label>
    </ion-item>

    <ion-item class="boxx-input-item" *ngIf="myEvent.place">
      <ion-label>
        <h2>
          <ion-text color="primary" translate>FORM.LABEL.place</ion-text>
        </h2>
        <p class="ion-text-wrap">{{myEvent.place}}</p>
      </ion-label>
    </ion-item>

    <ion-item class="boxx-input-item">
      <ion-label class="attendee-chip">
        <h2>
          <ion-text color="primary" translate>FORM.LABEL.attendees</ion-text>
        </h2>
        <p [hidden]="myEvent.attendees.length > 0" translate>
          EVENTS.noAttendees
        </p>
        <ion-chip *ngFor="let contact of myEvent.attendees">
          <ion-avatar>
            <div>{{contact.initials}}</div>
          </ion-avatar>
          <ion-label (click)="showAttendeeDetails(contact)">{{contact.fullName}}</ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>

    <ion-item class="boxx-input-item">
      <ion-label>
        <h2>
          <ion-text color="primary" translate>FORM.LABEL.description</ion-text>
        </h2>
        <p [hidden]="myEvent.description" translate>
          EVENTS.noDescription
        </p>
        <p class="ion-text-wrap">{{myEvent.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>