<ion-app>
  <ion-menu side="end" contentId="main-content" type="overlay">
    <ion-header no-border class="ion-no-border">
      <ion-toolbar no-border>
        <ion-item lines="none" class="ion-padding-top">
            <div id="logo-version">
                <div id="logo-img"></div>
                {{version ? 'v' + version : !isCordovaOrCApacitor ? 'Web/PWA' : ''}}
            </div>
        </ion-item>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list class="ion-margin-top">
        <ion-menu-toggle auto-hide="true" *ngFor="let p of appPages; let idx = index" class="ion-padding-top">
            <ion-item id="menu-entry-{{idx}}" detail="false" [routerLink]="[p.url]" class="ion-margin-bottom" *ngIf="p.url else externalUrl">
                <ion-icon slot="start" [name]="p.icon" class="min-margin"></ion-icon>
                <ion-label class="ion-text-wrap" translate>
                  {{p.title}}
                </ion-label>
                <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
              </ion-item>
              <ng-template #externalUrl>
                <ion-item id="menu-entry-{{idx}}" detail="false" (click)="openExternalUrl(p.external)" class="ion-margin-bottom">
                    <ion-icon slot="start" [name]="p.icon" class="min-margin"></ion-icon>
                    <ion-label class="ion-text-wrap" translate>
                      {{p.title}}
                    </ion-label>
                    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
                  </ion-item>
              </ng-template>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-menu-toggle auto-hide="true">
        <ion-item detail="false" lines="none" (click)="openPrivacyPolicy()">
          <ion-label class="ion-text-wrap" translate>
            PROFILE.NoticeOfPrivacy
          </ion-label>
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
