:host {
    #logo-img {
        background: url("../assets/default-img/business-logo.png");
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: contain;
        width: 56%;
        height: 56px;
    }

    ion-header {
        margin-bottom: -1px;
    }

    ion-toolbar {
        --background: var(--boxx-app-background, #f4f4f4);
    }

    toolbar-background {
        border: none;
    }

    #logo-version {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: flex-end;
    }

    ion-list {
        color: var(--ion-color-dark, black);
    }

    ion-item {
        margin-right: 8px;
        --border-color: var(--ion-color-dark, black);
        color: var(--ion-color-dark, black);
        --color-activated: var(--ion-color-dark, white);

        ion-icon {
            color: var(--ion-color-dark, black);
        }
    }

    ion-footer {
        margin-top: -1px;
        background: var(--boxx-app-background, #f4f4f4);
    }

    .footer-md::before {
        background-image: none !important;
    }
}
