ion-icon.message-row-action-icon {
    border: 1px solid var(--ion-color-primary, black);
    font-size: initial;
    padding: 8px;
    border-radius: 50%;
}

.no-emails-found {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
