<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center" translate>GENERAL.messages</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-item-divider color="light" sticky>
        <ion-segment [(ngModel)]="filterType" (ionChange)="filterBy($event.detail.value)" mode="md"
            [disabled]="(isLoading$ | async) || totals.total == 0">
            <ion-segment-button value="ALL">
                <ion-label>{{'GENERAL.all' | translate}} ({{totals.total}})</ion-label>
            </ion-segment-button>
            <ion-segment-button value="READ">
                <ion-label>{{'GENERAL.read' | translate}} ({{totals.read}})</ion-label>
            </ion-segment-button>
            <ion-segment-button value="NEW">
                <ion-label>{{'GENERAL.new' | translate}} ({{totals.new}})</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-item-divider>

    <ion-item-divider class="ion-no-padding" color="light" sticky>
        <ion-searchbar sticky></ion-searchbar>
        <ion-button fill="clear">
            <ion-icon name="options-outline"></ion-icon>
        </ion-button>
    </ion-item-divider>

    <div class="ion-margin-top" *ngIf="(isLoading$ | async) === false else loadingListSkeleton">
        <ion-card class="boxx-card" *ngFor="let message of loadedMessages">
            <boxx-message-item routerLink="/tabs/messages/detail/{{message.id}}" routerDirection="forward">

                <div slot="top-left">
                    <ion-icon name="logo-google"></ion-icon>
                </div>
                <div slot="top-center">
                    <strong>Email Sitio Web</strong>
                </div>
                <div slot="top-right">
                    {{message.timestamp | myDate :'D MMM Y, h:mm a'}}
                </div>

                <ion-label slot="bottom-start">
                    <p>
                        <strong>{{message.name}}</strong>
                    </p>
                    <p>{{message.email}}</p>
                    <p class="ion-padding-top">
                        <strong>
                            {{message.shortMessage}}
                        </strong>
                    </p>
                </ion-label>

                <div slot="bottom-end-top">
                    <ion-icon class="boxx-left-icon" name="bookmark"></ion-icon>
                    <ion-icon class="boxx-right-icon" name="chatbubble"></ion-icon>
                </div>

                <div slot="bottom-end-bottom">
                    <ion-icon name="call"></ion-icon>
                    {{message.phone}}
                </div>
            </boxx-message-item>
        </ion-card>
    </div>

    <div class="no-emails-found" *ngIf="(isLoading$ | async) === false && !loadedMessages.length"
        style="height: calc(100% - 60px); padding-top: 16px;">
        <div class="ion-text-center">
            <ion-icon name="chatbox-outline" color="medium2" style="font-size: 100px;"></ion-icon>
            <div>
                <ion-label color="primary">No se encontraron Mensajes</ion-label>
            </div>
        </div>
    </div>

    <ng-template #loadingListSkeleton>
        <ion-card class="boxx-card" *ngFor="let i of [].constructor(7)">
            <boxx-message-item [detail]="false">

                <ion-icon slot="top-left"></ion-icon>
                <div slot="top-center">
                    <ion-skeleton-text animated style="width: 45%;"></ion-skeleton-text>
                </div>
                <div slot="top-right">
                    <ion-skeleton-text animated style="width: 90%; margin-left: auto;"></ion-skeleton-text>
                </div>

                <ion-label slot="bottom-start">
                    <p>
                        <ion-skeleton-text animated style="width: 45%;"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 65%;"></ion-skeleton-text>
                    </p>
                    <p class="ion-padding-top">
                        <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
                    </p>
                </ion-label>
                <div slot="bottom-end">
                    <div class="top">
                        <div style="width: 16px; height: 16px; margin-left: 8px;">
                            <ion-skeleton-text animated></ion-skeleton-text>
                        </div>
                        <div style="width: 16px; height: 16px; margin-left: 8px;">
                            <ion-skeleton-text animated></ion-skeleton-text>
                        </div>
                    </div>
                    <div class="bottom">
                        <ion-skeleton-text animated style="width: 65%; margin-left: auto;"></ion-skeleton-text>
                    </div>
                </div>
            </boxx-message-item>
        </ion-card>
    </ng-template>
</ion-content>