<ion-content class="ion-padding">
  <div class="ion-text-center ion-padding ion-margin">
      <!--<ion-icon name="cloud-upload-outline" color="primary" style="font-size: 100px;"></ion-icon>-->
      <ion-spinner></ion-spinner>
  </div>
  
  <div *ngFor="let progress of progressList; let i = index" class="ion-padding-top">
    <ion-progress-bar [value]="progress" color="primary"></ion-progress-bar>
  </div>
</ion-content>