ion-label {
    p {
        display: flex;
        align-items: flex-end;
    }
}

ion-label.message-date-lable{
    margin-top: 0;

    p.message-detail-date {
        text-align: right;
        margin-bottom: 16px;
        justify-content: flex-end;
    }

    p.message-detail-content {
        white-space: normal;
    }
}
