<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/messages"></ion-back-button>
        </ion-buttons>

        <ion-title class="ion-text-center" translate>GENERAL.messages</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="showMessageOpts()">
                <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="message.id else noMessageId">
        <ion-item lines="none">
            <ion-avatar slot="start" style="position: relative;">
                <div>{{message.name[0]}}</div>
            </ion-avatar>
            <ion-label>
                <h3>
                    <ion-icon name="checkmark-circle" color="primary" style="margin-bottom: -2px;" *ngIf="isContact">
                    </ion-icon>
                    {{message.name}}
                </h3>
                <p [hidden]="!message.email">
                    <ion-icon name="mail-outline" style="margin-right: 4px; margin-bottom: 2px;"></ion-icon>
                    <a>{{message.email}}</a>
                </p>
                <p [hidden]="!message.phone">
                    <ion-icon name="call-outline" style="margin-right: 4px; margin-bottom: 2px;"></ion-icon>
                    <a>{{message.phone}}</a>
                </p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start" style="visibility: hidden;"></ion-avatar>
            <ion-label class="message-date-lable">
                <p class="message-detail-date">
                    <ion-text color="dark">{{message.timestamp | myDate:'D MMM Y | hh:mm a'}} </ion-text>
                </p>
                <p class="message-detail-content">{{message.message || message.dataMessage}}</p>
            </ion-label>
        </ion-item>
    </div>

    <ng-template #noMessageId>
        <ion-list class="skeleton">
            <ion-item lines="none">
                <ion-avatar slot="start" style="position: relative;">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </h3>
                    <p style="align-items: flex-end; display: flex;">
                        <ion-icon name="mail-outline" style="margin-right: 4px; margin-bottom: 2px;"></ion-icon>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </p>
                    <p style="align-items: flex-end; display: flex;">
                        <ion-icon name="call-outline" style="margin-right: 4px; margin-bottom: 2px;"></ion-icon>
                        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-avatar slot="start" style="visibility: hidden;"></ion-avatar>
                <ion-label style="margin-top: 0;">
                    <p style="margin-bottom: 16px;">
                        <ion-skeleton-text animated style="width: 70%; float: right;"></ion-skeleton-text>
                    </p>
                    <p style="white-space: normal;">
                        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 82%"></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 85%"></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 92%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
        </ion-list>
    </ng-template>
</ion-content>