<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/panel" routerDirection="root"></ion-back-button>
    </ion-buttons>
    
    <ion-title class="ion-text-center" translate>PROFILE.title</ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="presentModal()" [hidden]="!profileForm.get('userFullName').value">
        <ion-icon src="assets/icon/edit.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding-horizontal" *ngIf="isLoading$ |async">
    <ion-item class="boxx-input-item">
      <ion-label position="stacked" color="primary" translate>FORM.LABEL.fullName</ion-label>
      <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
    </ion-item>

    <ion-item class="boxx-input-item">
      <ion-label position="stacked" color="primary" translate>FORM.LABEL.phone</ion-label>
      <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
    </ion-item>

    <ion-item class="boxx-input-item">
      <ion-label position="stacked" color="primary" translate>FORM.LABEL.email</ion-label>
      <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
    </ion-item>
  </ion-list>

  <ion-list [formGroup]="profileForm" [hidden]="isLoading$ |async" class="ion-padding-horizontal">
    <ion-item class="boxx-input-item">
      <ion-label position="stacked" color="primary" translate>FORM.LABEL.fullName</ion-label>
      <ion-input formControlName="userFullName"></ion-input>
    </ion-item>

    <ion-item class="boxx-input-item">
      <ion-label position="stacked" color="primary" translate>FORM.LABEL.phone</ion-label>
      <ion-input formControlName="phone"></ion-input>
    </ion-item>

    <ion-item class="boxx-input-item">
      <ion-label position="stacked" color="primary" translate>FORM.LABEL.email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="full" color="danger" (click)="doLogout()" translate>PROFILE.logout</ion-button>
  </div>

</ion-content>
