/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/fonts";

@import "./theme/modules/login-module.scss";
@import "./theme/modules/sideMenu-module.scss";
@import "./theme/modules/panel-module.scss";
@import "./theme/modules/messages-module.scss";
@import "./theme/modules/events-module.scss";
@import "./theme/modules/contacts-module.scss";
@import "./theme/modules/business-module.scss";
@import "./theme/modules/profile-module.scss";

/*body, span, button, h1, h2, h3, h4, h5, h6, p, ion-item{
    --ion-font-color: var(--ion-color-dark, black);
    color: var(--ion-color-dark, black)
}*/

ion-content {
    --background: var(--boxx-app-background, #f4f4f4);
}

ion-list {
    background: transparent !important;
}

ion-item {
    --background: transparent;

    &.boxx-input-item {
        background: white;
        border-radius: 8px;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.65);
        margin: 8px;
    }

    &.item-interactive.ion-pristine.ion-invalid.item-has-focus {
        --highlight-background: none;
    }

    &.item-interactive.ion-dirty.ion-invalid.item-has-focus {
        --highlight-background: red;
    }

    &.item-input.item-interactive-disabled {
        ion-label {
            opacity: 1 !important;
        }
    }
}

ion-item-sliding .item {
    background-color: var(--boxx-app-background, white);
}

ion-tab-button {
    .tab-label {
        display: none;
    }
}

/*TODO: check if can be removed/replaced */
.padding-right {
    padding-right: var(--ion-padding, 16px);
}
/*TODO: check if can be removed/replaced */
h2.vertical-center {
    display: flex;
    align-items: center;
}

ion-card.boxx-card {
    margin-top: 0;
    margin-left: var(--margin-start, 16px);
    margin-right: var(--margin-end, 16px);
    //border-radius: 16px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px, rgba(0, 0, 0, 0.14) 0px 1px 0px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 0px 0px;

    ion-card-subtitle {
        border-bottom: 2px solid var(--ion-color-tertiary, gray);
        font-weight: 300;
    }

    ion-item {
        --border-color: var(--ion-color-tertiary, gray);
    }
}

.error-feedback {
    p {
        color: var(--ion-color-danger, red);
        font-size: smaller;
        text-align: left;
    }

    margin-top: -4px;

    padding-left: 20px;
    padding-right: 20px;
}

.searchbar-input {
    background: var(--ion-color-primary-tint, lightgray) !important; //#75c5b0 !important;
    border-radius: 30px !important;
    max-width: 400px;
    border: 1px solid transparent;
    color: var(--ion-color-primary-contrast, white) !important;
}
ion-toolbar.ion-color .sc-ion-searchbar-ios-h .searchbar-search-icon.sc-ion-searchbar-ios {
    color: var(--ion-color-secondary-contrast, white);
    opacity: 1 !important;
}
.searchbar-cancel-button.sc-ion-searchbar-md {
    color: var(--ion-color-secondary-contrast, white);
}
.searchbar-search-icon.sc-ion-searchbar-md {
    color: var(--ion-color-secondary-contrast, white);
}
.searchbar-clear-icon.sc-ion-searchbar-md {
    color: white;
}

ion-segment-button {
    font-size: xx-small;
    ion-label {
        margin-bottom: 0;
    }
}

ion-calendar {
    button {
        small {
            color: var(--ion-color-danger, red) !important;
            font-size: xx-large;
            bottom: -18px !important;
        }
    }
}

ion-avatar {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border: 1px solid var(--boxx-avatar-border-color, black);
    background: var(--boxx-avatar-background-color, black) !important;
    color: var(--boxx-avatar-color, white) !important;

    div {
        width: 100%;
        text-align: center;
        word-spacing: -2px;
    }
}

.skeleton {
    ion-avatar {
        background: none !important;
    }
    ion-avatar[size="small"] {
        width: 32px;
        height: 32px;
    }
}

.popover-content {
    min-width: 250px !important;
}
.fns-08 {
    font-size: 0.8em;
}
.fns-15 {
    font-size: 1.5em;
}
