<ion-header class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title class="ion-text-center" translate>PROFILE.title</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list [formGroup]="profileForm" class="ion-padding-horizontal">
        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary" translate>FORM.LABEL.fullName</ion-label>
            <ion-input formControlName="userFullName"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validationMessages.userFullName">
            <div class="error-feedback"
                *ngIf="profileForm.get('userFullName').hasError(validation.type) && profileForm.get('userFullName').invalid && (profileForm.get('userFullName').dirty || profileForm.get('userFullName').touched)">
                <p>{{validation.message}}</p>
            </div>
        </div>

        <ion-item class="boxx-input-item">
            <ion-label position="stacked" color="primary" translate>FORM.LABEL.email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validationMessages.email">
            <div class="error-feedback"
                *ngIf="profileForm.get('email').hasError(validation.type) && profileForm.get('email').invalid && (profileForm.get('email').dirty || profileForm.get('email').touched)">
                <p>{{validation.message}}</p>
            </div>
        </div>

        <ion-button class="ion-margin-top" expand="block" size="default" (click)="update()" translate>
            GENERAL.ACTION.update
        </ion-button>
    </ion-list>
</ion-content>