<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button [hidden]="!isEditing || isLoading" (click)="enableEdition(false)">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center" translate>WEBSITE.title</ion-title>

    <ion-buttons slot="end" [hidden]="activeSegment == 'STATS' || activeSegment == 'IMAGES' || isEditing">
      <ion-button (click)="enableEdition(true)" [disabled]="!selectedWebsite.siteId">
        <ion-icon src="assets/icon/edit.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider class="ion-no-padding" color="light" sticky>
    <ion-segment [disabled]="isEditing || isLoading" (ionChange)="segmentChanged($event.detail.value)" [value]="activeSegment"
      class="ion-padding-horizontal" mode="md">
      <ion-segment-button value="PROFILE">
        <ion-icon src="assets/icon/profile.svg"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="IMAGES">
        <ion-icon src="assets/icon/images.svg"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="SCHEDULE">
        <ion-icon src="assets/icon/schedule.svg"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="SERVICES">
        <ion-icon src="assets/icon/services.svg"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-item-divider>

  <app-website-profile-page [openModalSubject]="editProfileSubject.asObservable()" [hidden]="activeSegment != 'PROFILE'"></app-website-profile-page>

  <app-website-schedule-page [enableEditModeSubject]="enableEditModeSubject.asObservable()" [hidden]="activeSegment != 'SCHEDULE' || isLoading"></app-website-schedule-page>
  
  <app-website-products-page [enableEditModeSubject]="enableEditModeSubject.asObservable()" [hidden]="activeSegment != 'SERVICES' || isLoading"></app-website-products-page>

  <app-website-images-page [hidden]="activeSegment != 'IMAGES' || isLoading"></app-website-images-page>

  <div *ngIf="isLoading && (activeSegment == 'SCHEDULE' || activeSegment == 'SERVICES')" style="height: 100%; display: flex;">
    <ion-spinner color="primary" size="large" style="margin: auto;"></ion-spinner>
  </div>
</ion-content>